#root {
  max-width: 1440px;
  text-align: center;
  display: flex;
}

* {
  transition: all ease 200ms;
}

.text-shadow {
  text-shadow: 5px 5px rgb(226, 226, 226);
}

.wifi-float-animation {
  animation: wifi-float 4s ease-out infinite;
}

.anim-delay-1 {
  animation-delay: 1s;
}

.anim-delay-2 {
  animation-delay: 2s;
}

.anim-delay-3 {
  animation-delay: 3s;
}

.anim-delay-4 {
  animation-delay: 4s;
}

.anim-delay-5 {
  animation-delay: 5s;
}

.anim-delay-6 {
  animation-delay: 6s;
}

.anim-delay-7 {
  animation-delay: 7s;
}

.anim-delay-8 {
  animation-delay: 8s;
}

@keyframes wifi-float {
  0% {
    scale: 0.6;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    scale: 1.2;
    opacity: 0;
  }
}