#root {
  max-width: 1440px;
  text-align: center;
  margin: auto;
}

* {
  transition: all ease 200ms;
}

.text-shadow {
  text-shadow: 5px 5px rgb(226, 226, 226);
}

.wifi-float-animation {
  animation: wifi-float 4s ease-out infinite;
}

.rotate-full {
  animation: rotate-full var(--spin-time, 4s) linear infinite;
}

.anim-delay-1 {
  animation-delay: var(--delay-seconds, 1s);
}

.glass-card {
  background: rgba(0, 0, 0, 0.137);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  /* border-radius: 20px; */
  position: relative;
  overflow: hidden;
}

@keyframes rotate-full {
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes wifi-float {
  0% {
    scale: 0.6;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    scale: 1.2;
    opacity: 0;
  }
}