@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

body {
  background-color: #f2f4f5;
  display: flex;
  justify-content: center;
}

:root {
  font-family: "Sora", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-background-color: #f2f4f5;
}